h1{
    border: 1px solid black;
    width: 300px;
    margin:10px auto;
    padding: 20px;
    box-shadow: 5px 5px  5px #666262;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
}
p{
    border: 1px solid black;
    box-shadow: 5px 5px  5px #666262;
    border-radius: 10px;
    margin:30px auto ;
    width:400px;
    text-align: justify;
    padding: 20px;
    height:38px;
    overflow: scroll;
}
body{
    border: 1px solid red;
    height: 30vh;
    margin:0;
}

