table {
    border-collapse: collapse;
    margin: auto;
    /* border: 3px solid #000000; */
    margin-top: 40px;
    margin-bottom: 40px;
    /* box-shadow: 5px 5px 20px#666262; */
    opacity: 0.8;
  }

  td {
    width: 100px;
    height: 94px;
    text-align: center;
  }

  .black {
    background-color:plum;
    font-size:50px;
  }

  .white{
    background-color:#ffffff;
    font-size:50px;
  }
  div{
    background-image: url(../chess.png);
    padding: 26px;
    height:50%;
    background-repeat: no-repeat;
    background-position:inherit;
    background-size: cover;
  }
  h1{
    text-align: center;
    font-weight: 900;
    
  }