*.first{
    text-align: center;
}
table, td, th {  
    border: 1px solid black;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 60%;
  }
  
  th, td {
    padding: 12px;
  }
  p{
    text-indent: 30px;
    text-transform: capitalize;
  }