table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 10px;
}
.timetable{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
   
}
.timetable,th,td{
    text-align: center;
    height: 50px;
    padding: 10px;
}
.flag{
    width: 30%;
    border: 1px solid black;
    border-collapse: collapse;
   
}
.orange{
    background-color: orange;
}
.white{
    background-color: #ffff;
    padding: 2px;
}
.green{
    background-color: green;
}
img{
    width:60px;
}